{{ partial "header" . }}
{{ partial "menu" . }}

<main>
	<h2>{{ upper .Title }}</h2>
	<p>As a computer science student, I have to take notes all the time. Some of the notes I take are digestions of a specific complicated subject in an easy-to-read format.</p>
	<p>I'm nowhere near a computer science master but just like to share these thinking that it might help someone. Therefore, if you find a hole in them, do let me know or even better <a href="https://www.github.com/cansurmeli" target="_blank">fork</a> them.</p>

	{{ range (.Paginator 5).Pages }}
		{{ partial "list-item" . }}
	{{ end }}
</main>

{{ partial "paginator" . }}
{{ partial "footer" . }}
