{{ partial "header" . }}
{{ partial "menu" . }}

<main>
	<h2>{{ upper .Title }}</h2>
	<p>As a computer science student, I have to take notes all the time. Some of the notes I take are digestions of a specific subject in an easy/fast to read format.</p>
	<p>I'm nowhere near a computer science master but as a good will gesture, I'd like to share my notes with the world; thinking that it could help someone easily grasp a particular topic.</p>
	<p>These notes could have holes in them. As I mentioned, I'm not a master. Therefore, take them with a bit of salt and it you find a mistake, please feel free [to fork](https://www.github.com/cansurmeli).</p>

	{{ range (.Paginator 5).Pages }}
		{{ partial "list-item" . }}
	{{ end }}
</main>

{{ partial "paginator" . }}
{{ partial "footer" . }}
