<!--Required by the theme itself-->
{{ $jQuery := resources.Get "js/jquery.js" }}
{{ $bootstrap := resources.Get "js/bootstrap.js" }}

<!--Required for the Medium style image zooming effect-->
{{ $transition := resources.Get "js/transition.js" }}
{{ $zoom := resources.Get "js/zoom.js" }}

<!--Asset Bundling-->
{{ $jsCombined := slice $jQuery $transition $zoom $bootstrap | resources.Concat "js/main.js" }}

<!--Asset Minification-->
{{ $jsMinified := $jsCombined | resources.Minify }}

<!--Security Injection(fingerprinting & SRI)-->
{{ $jsSecured := $jsMinified | resources.Fingerprint "sha512" }}

<!--JS Injection-->
<script type="text/javascript" src="{{ $jsSecured.RelPermalink }}" integrity="{{ $jsSecured.Data.Integrity }}"></script>

<!-- dismiss expanded navigation bar with click -->
<script>$(document).on('click', function() { $('.collapse').collapse('hide'); })</script>

<!--Matomo-->
{{ if .Site.Params.Matomo.url }}
	<script type="text/javascript">
		var _paq = _paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="{{ .Site.Params.Matomo.url }}";
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', '1']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		})();
	</script>
{{ end }}

